USE [cuoikyoopQuanLyKhoaHocTrucTuyen]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 12/1/2025 2:36:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BaiGiang]    Script Date: 12/1/2025 2:36:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BaiGiang](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdChuong] [int] NOT NULL,
	[TieuDe] [nvarchar](200) NOT NULL,
	[MoTa] [nvarchar](500) NULL,
	[DuongDanVideo] [nvarchar](500) NULL,
	[ThoiLuong] [int] NULL,
	[ThuTu] [int] NOT NULL,
	[MienPhiXem] [bit] NULL,
	[TrangThai] [bit] NULL,
	[NgayTao] [datetime] NULL,
	[NgayCapNhat] [datetime] NULL,
	[VideoPublicId] [nvarchar](200) NULL,
	[VideoFormat] [nvarchar](10) NULL,
	[VideoSize] [bigint] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChiaSeLuanNhuan]    Script Date: 12/1/2025 2:36:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiaSeLuanNhuan](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdDonHang] [int] NULL,
	[IdKhoaHoc] [int] NULL,
	[IdGiangVien] [int] NULL,
	[DoanhThu] [decimal](18, 2) NULL,
	[TyLeChiaGiangVien] [decimal](5, 2) NULL,
	[TienGiangVien] [decimal](18, 2) NULL,
	[TienHeThong] [decimal](18, 2) NULL,
	[TrangThaiThanhToan] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChiTietChiaSeDoanhThu]    Script Date: 12/1/2025 2:36:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietChiaSeDoanhThu](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdDonHang] [int] NOT NULL,
	[IdKhoaHoc] [int] NOT NULL,
	[IdGiangVien] [int] NOT NULL,
	[GiaKhoaHoc] [int] NOT NULL,
	[TyLeChiaGiangVien] [decimal](5, 2) NOT NULL,
	[TienGiangVien] [int] NOT NULL,
	[TienHeThong] [int] NOT NULL,
	[MaGiaoDichChuyenTien] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChiTietDonHang]    Script Date: 12/1/2025 2:36:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietDonHang](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdDonHang] [int] NULL,
	[IdKhoaHoc] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChiTietGioHang]    Script Date: 12/1/2025 2:36:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietGioHang](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdGioHang] [int] NULL,
	[IdKhoaHoc] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Chuong]    Script Date: 12/1/2025 2:36:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Chuong](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdKhoaHoc] [int] NULL,
	[TenChuong] [nvarchar](255) NULL,
	[MoTa] [nvarchar](500) NULL,
	[ThuTu] [int] NULL,
	[TrangThai] [bit] NULL,
	[NgayTao] [datetime] NULL,
	[NgayCapNhat] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DangKyKhoaHoc]    Script Date: 12/1/2025 2:36:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DangKyKhoaHoc](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdHocVien] [int] NULL,
	[IdKhoaHoc] [int] NULL,
	[IdDonHang] [int] NULL,
	[NgayDangKy] [datetime] NULL,
	[TrangThai] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DanhGiaKhoaHoc]    Script Date: 12/1/2025 2:36:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DanhGiaKhoaHoc](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdHocVien] [int] NULL,
	[IdKhoaHoc] [int] NULL,
	[DiemDanhGia] [int] NULL,
	[BinhLuan] [nvarchar](max) NULL,
	[NgayDanhGia] [datetime] NULL,
	[NgayCapNhat] [datetime] NULL,
	[TrangThai] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DanhMucKhoaHoc]    Script Date: 12/1/2025 2:36:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DanhMucKhoaHoc](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TenDanhMuc] [nvarchar](100) NULL,
	[MoTa] [nvarchar](500) NULL,
	[TrangThai] [bit] NULL,
	[NgayTao] [datetime] NULL,
	[NgayCapNhat] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DonHang]    Script Date: 12/1/2025 2:36:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DonHang](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdNguoiDung] [int] NULL,
	[IdVoucher] [int] NULL,
	[TongTienGoc] [decimal](18, 2) NULL,
	[TienGiam] [decimal](18, 2) NULL,
	[TongTienThanhToan] [decimal](18, 2) NULL,
	[PhuongThucThanhToan] [nvarchar](50) NULL,
	[TrangThaiThanhToan] [nvarchar](50) NULL,
	[NgayThanhToan] [datetime] NULL,
	[GhiChu] [nvarchar](500) NULL,
	[TongTien] [decimal](18, 2) NOT NULL,
	[TrangThaiDonHang] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GioHang]    Script Date: 12/1/2025 2:36:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GioHang](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdNguoiDung] [int] NULL,
	[TongTienGoc] [decimal](18, 2) NULL,
	[PhanTramGiam] [decimal](5, 2) NULL,
	[TienGiamVoucher] [decimal](18, 2) NULL,
	[TongTienThanhToan] [decimal](18, 2) NULL,
	[SoLuongKhoaHoc] [int] NULL,
	[NgayTao] [datetime] NULL,
	[NgayCapNhat] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KhoaHoc]    Script Date: 12/1/2025 2:36:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhoaHoc](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TenKhoaHoc] [nvarchar](255) NULL,
	[MoTaNgan] [nvarchar](500) NULL,
	[MoTaChiTiet] [nvarchar](max) NULL,
	[IdDanhMuc] [int] NULL,
	[IdGiangVien] [int] NULL,
	[YeuCauTruoc] [nvarchar](max) NULL,
	[HocDuoc] [nvarchar](max) NULL,
	[GiaBan] [decimal](18, 2) NULL,
	[HinhDaiDien] [nvarchar](500) NULL,
	[VideoGioiThieu] [nvarchar](500) NULL,
	[MucDo] [nvarchar](50) NULL,
	[TrangThai] [bit] NULL,
	[SoLuongHocVien] [int] NULL,
	[DiemDanhGia] [decimal](3, 2) NULL,
	[SoLuongDanhGia] [int] NULL,
	[NgayTao] [datetime] NULL,
	[NgayCapNhat] [datetime] NULL,
	[PhienBanHienTai] [int] NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[VideoGioiThieuPublicId] [nvarchar](200) NULL,
	[VideoGioiThieuDuration] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KhoaHocKhuyenMai]    Script Date: 12/1/2025 2:36:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhoaHocKhuyenMai](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdKhoaHoc] [int] NULL,
	[IdKhuyenMai] [int] NULL,
	[MaKhuyenMai] [nvarchar](50) NOT NULL,
	[GiaGoc] [decimal](18, 2) NOT NULL,
	[GiaSauKhuyenMai] [decimal](18, 2) NOT NULL,
	[PhanTramGiamThucTe] [decimal](5, 2) NOT NULL,
	[SoTienGiam] [decimal](18, 2) NOT NULL,
	[NgayBatDau] [datetime] NOT NULL,
	[NgayKetThuc] [datetime] NOT NULL,
	[SoLuotDaSuDung] [int] NULL,
	[NgayTao] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KhoaHocPhienBan]    Script Date: 12/1/2025 2:36:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhoaHocPhienBan](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdKhoaHoc] [int] NOT NULL,
	[PhienBan] [int] NOT NULL,
	[TenKhoaHoc] [nvarchar](200) NOT NULL,
	[MoTaNgan] [nvarchar](500) NULL,
	[MoTaChiTiet] [nvarchar](max) NULL,
	[IdDanhMuc] [int] NULL,
	[YeuCauTruoc] [nvarchar](max) NULL,
	[HocDuoc] [nvarchar](max) NULL,
	[GiaBan] [decimal](18, 2) NULL,
	[HinhDaiDien] [nvarchar](500) NULL,
	[VideoGioiThieu] [nvarchar](500) NULL,
	[VideoGioiThieuPublicId] [nvarchar](200) NULL,
	[MucDo] [nvarchar](50) NULL,
	[NoiDungJSON] [nvarchar](max) NULL,
	[TrangThai] [nvarchar](50) NOT NULL,
	[NgayTao] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KhuyenMai]    Script Date: 12/1/2025 2:36:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhuyenMai](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdNguoiTao] [int] NULL,
	[TenKhuyenMai] [nvarchar](200) NULL,
	[MoTa] [nvarchar](500) NULL,
	[PhanTramGiam] [decimal](5, 2) NULL,
	[PhanTramGiamToiThieu] [decimal](5, 2) NULL,
	[PhanTramGiamToiDa] [decimal](5, 2) NULL,
	[GioiHanSoLuot] [bit] NULL,
	[SoLuotToiDa] [int] NULL,
	[TrangThai] [bit] NULL,
	[NgayTao] [datetime] NULL,
	[NgayCapNhat] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KiemDuyetKhoaHoc]    Script Date: 12/1/2025 2:36:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KiemDuyetKhoaHoc](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdKhoaHoc] [int] NOT NULL,
	[PhienBan] [int] NOT NULL,
	[TrangThaiKiemDuyet] [nvarchar](50) NOT NULL,
	[IdNguoiGui] [int] NOT NULL,
	[IdNguoiKiemDuyet] [int] NULL,
	[LyDoTuChoi] [nvarchar](500) NULL,
	[NgayGui] [datetime] NOT NULL,
	[NgayKiemDuyet] [datetime] NULL,
	[NoiDungThayDoi] [nvarchar](max) NULL,
	[GhiChu] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LichSuChuyenTien]    Script Date: 12/1/2025 2:36:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LichSuChuyenTien](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdChiTietChiaSe] [int] NOT NULL,
	[IdGiangVien] [int] NOT NULL,
	[SoTien] [decimal](18, 2) NOT NULL,
	[SoDienThoaiNhan] [nvarchar](15) NOT NULL,
	[MaGiaoDich] [nvarchar](100) NULL,
	[TrangThai] [nvarchar](50) NOT NULL,
	[NgayChuyenTien] [datetime] NULL,
	[GhiChu] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NguoiDung]    Script Date: 12/1/2025 2:36:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NguoiDung](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[HoTen] [nvarchar](100) NOT NULL,
	[Email] [nvarchar](100) NULL,
	[MatKhau] [nvarchar](255) NULL,
	[SoDienThoai] [nvarchar](20) NULL,
	[AnhDaiDien] [nvarchar](500) NULL,
	[TieuSu] [nvarchar](max) NULL,
	[TrangThai] [bit] NULL,
	[NgayTao] [datetime] NULL,
	[NgayCapNhat] [datetime] NULL,
	[LanDangNhapCuoi] [datetime] NULL,
	[MoTaNgan] [nvarchar](500) NULL,
	[ChuyenMon] [nvarchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NguoiDungVaiTro]    Script Date: 12/1/2025 2:36:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NguoiDungVaiTro](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdNguoiDung] [int] NULL,
	[IdVaiTro] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RefreshToken]    Script Date: 12/1/2025 2:36:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RefreshToken](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdNguoiDung] [int] NULL,
	[Token] [nvarchar](500) NULL,
	[NgayHetHan] [datetime] NULL,
	[NgayTao] [datetime] NULL,
	[NgayThuHoi] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TaiLieuBaiGiang]    Script Date: 12/1/2025 2:36:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaiLieuBaiGiang](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdBaiGiang] [int] NOT NULL,
	[TenTaiLieu] [nvarchar](200) NOT NULL,
	[LoaiTaiLieu] [nvarchar](50) NULL,
	[DuongDan] [nvarchar](500) NOT NULL,
	[KichThuoc] [bigint] NULL,
	[MoTa] [nvarchar](500) NULL,
	[ThuTu] [int] NULL,
	[NgayTao] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TaiLieuKhoaHoc]    Script Date: 12/1/2025 2:36:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaiLieuKhoaHoc](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdKhoaHoc] [int] NULL,
	[TenTaiLieu] [nvarchar](255) NULL,
	[MoTa] [nvarchar](500) NULL,
	[DuongDan] [nvarchar](500) NULL,
	[LoaiTaiLieu] [nvarchar](50) NULL,
	[KichThuoc] [bigint] NULL,
	[ThuTu] [int] NULL,
	[NgayTao] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TienDoHocTap]    Script Date: 12/1/2025 2:36:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TienDoHocTap](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdDangKyKhoaHoc] [int] NULL,
	[IdKhoaHoc] [int] NULL,
	[PhanTramHoanThanh] [decimal](5, 2) NULL,
	[DaHoanThanh] [bit] NULL,
	[NgayBatDau] [datetime] NULL,
	[NgayHoanThanh] [datetime] NULL,
	[IdHocVien] [int] NOT NULL,
	[SoBaiHocDaHoanThanh] [int] NULL,
	[TongSoBaiHoc] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TienDoHocTapChiTiet]    Script Date: 12/1/2025 2:36:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TienDoHocTapChiTiet](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdTienDoHocTap] [int] NOT NULL,
	[IdBaiGiang] [int] NOT NULL,
	[DaHoanThanh] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VaiTro]    Script Date: 12/1/2025 2:36:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VaiTro](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TenVaiTro] [nvarchar](50) NULL,
	[MoTa] [nvarchar](255) NULL,
	[NgayTao] [datetime] NULL,
	[NgayCapNhat] [datetime] NULL,
	[TrangThai] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Voucher]    Script Date: 12/1/2025 2:36:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Voucher](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[MaCode] [nvarchar](50) NULL,
	[TiLeGiam] [decimal](18, 2) NULL,
	[NgayBatDau] [datetime] NULL,
	[NgayHetHan] [datetime] NULL,
	[TrangThai] [bit] NULL,
	[NgayTao] [datetime] NULL,
	[NgayCapNhat] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[BaiGiang] ON 

INSERT [dbo].[BaiGiang] ([Id], [IdChuong], [TieuDe], [MoTa], [DuongDanVideo], [ThoiLuong], [ThuTu], [MienPhiXem], [TrangThai], [NgayTao], [NgayCapNhat], [VideoPublicId], [VideoFormat], [VideoSize]) VALUES (1, 1, N'React là gì? Tại sao nên học React?', N'Tìm hiểu về React và lý do tại sao nó trở thành framework phổ biến nhất hiện nay', NULL, 15, 1, 1, 1, CAST(N'2025-11-30T10:56:08.713' AS DateTime), CAST(N'2025-11-30T10:56:08.713' AS DateTime), NULL, NULL, NULL)
INSERT [dbo].[BaiGiang] ([Id], [IdChuong], [TieuDe], [MoTa], [DuongDanVideo], [ThoiLuong], [ThuTu], [MienPhiXem], [TrangThai], [NgayTao], [NgayCapNhat], [VideoPublicId], [VideoFormat], [VideoSize]) VALUES (2, 1, N'Cài đặt môi trường phát triển', N'Hướng dẫn cài đặt Node.js, npm và tạo dự án React đầu tiên', NULL, 20, 2, 0, 1, CAST(N'2025-11-30T10:56:08.737' AS DateTime), CAST(N'2025-11-30T10:56:08.737' AS DateTime), NULL, NULL, NULL)
INSERT [dbo].[BaiGiang] ([Id], [IdChuong], [TieuDe], [MoTa], [DuongDanVideo], [ThoiLuong], [ThuTu], [MienPhiXem], [TrangThai], [NgayTao], [NgayCapNhat], [VideoPublicId], [VideoFormat], [VideoSize]) VALUES (3, 1, N'JSX và Components cơ bản', N'Học cách viết JSX và tạo components trong React', NULL, 25, 3, 0, 1, CAST(N'2025-11-30T10:56:08.737' AS DateTime), CAST(N'2025-11-30T10:56:08.737' AS DateTime), NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[BaiGiang] OFF
GO
SET IDENTITY_INSERT [dbo].[Chuong] ON 

INSERT [dbo].[Chuong] ([Id], [IdKhoaHoc], [TenChuong], [MoTa], [ThuTu], [TrangThai], [NgayTao], [NgayCapNhat]) VALUES (1, 1, N'Giới thiệu về React', N'Chương về giới thiệu về react', 1, 1, CAST(N'2025-11-30T10:56:08.687' AS DateTime), CAST(N'2025-11-30T10:56:08.687' AS DateTime))
INSERT [dbo].[Chuong] ([Id], [IdKhoaHoc], [TenChuong], [MoTa], [ThuTu], [TrangThai], [NgayTao], [NgayCapNhat]) VALUES (2, 1, N'State và Props', N'Chương về state và props', 2, 1, CAST(N'2025-11-30T10:56:08.740' AS DateTime), CAST(N'2025-11-30T10:56:08.740' AS DateTime))
INSERT [dbo].[Chuong] ([Id], [IdKhoaHoc], [TenChuong], [MoTa], [ThuTu], [TrangThai], [NgayTao], [NgayCapNhat]) VALUES (3, 1, N'React Hooks', N'Chương về react hooks', 3, 1, CAST(N'2025-11-30T10:56:08.767' AS DateTime), CAST(N'2025-11-30T10:56:08.767' AS DateTime))
SET IDENTITY_INSERT [dbo].[Chuong] OFF
GO
SET IDENTITY_INSERT [dbo].[DangKyKhoaHoc] ON 

INSERT [dbo].[DangKyKhoaHoc] ([Id], [IdHocVien], [IdKhoaHoc], [IdDonHang], [NgayDangKy], [TrangThai]) VALUES (1, 4, 1, NULL, CAST(N'2025-11-30T10:56:08.823' AS DateTime), 1)
INSERT [dbo].[DangKyKhoaHoc] ([Id], [IdHocVien], [IdKhoaHoc], [IdDonHang], [NgayDangKy], [TrangThai]) VALUES (2, 5, 1, NULL, CAST(N'2025-11-30T10:56:08.840' AS DateTime), 1)
INSERT [dbo].[DangKyKhoaHoc] ([Id], [IdHocVien], [IdKhoaHoc], [IdDonHang], [NgayDangKy], [TrangThai]) VALUES (3, 6, 1, NULL, CAST(N'2025-11-30T10:56:08.840' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[DangKyKhoaHoc] OFF
GO
SET IDENTITY_INSERT [dbo].[DanhGiaKhoaHoc] ON 

INSERT [dbo].[DanhGiaKhoaHoc] ([Id], [IdHocVien], [IdKhoaHoc], [DiemDanhGia], [BinhLuan], [NgayDanhGia], [NgayCapNhat], [TrangThai]) VALUES (1, 4, 1, 5, N'Khóa học rất hay và chi tiết!', CAST(N'2025-11-30T10:56:08.853' AS DateTime), NULL, 1)
INSERT [dbo].[DanhGiaKhoaHoc] ([Id], [IdHocVien], [IdKhoaHoc], [DiemDanhGia], [BinhLuan], [NgayDanhGia], [NgayCapNhat], [TrangThai]) VALUES (2, 5, 1, 4, N'Nội dung tốt, giảng viên giải thích rõ ràng', CAST(N'2025-11-30T10:56:08.873' AS DateTime), NULL, 1)
INSERT [dbo].[DanhGiaKhoaHoc] ([Id], [IdHocVien], [IdKhoaHoc], [DiemDanhGia], [BinhLuan], [NgayDanhGia], [NgayCapNhat], [TrangThai]) VALUES (3, 6, 1, 5, N'Rất hữu ích cho người mới bắt đầu', CAST(N'2025-11-30T10:56:08.877' AS DateTime), NULL, 1)
SET IDENTITY_INSERT [dbo].[DanhGiaKhoaHoc] OFF
GO
SET IDENTITY_INSERT [dbo].[DanhMucKhoaHoc] ON 

INSERT [dbo].[DanhMucKhoaHoc] ([Id], [TenDanhMuc], [MoTa], [TrangThai], [NgayTao], [NgayCapNhat]) VALUES (1, N'Lập trình Web', N'Các khóa học về phát triển ứng dụng web', 1, CAST(N'2025-11-30T14:41:39.933' AS DateTime), CAST(N'2025-11-30T14:41:39.933' AS DateTime))
INSERT [dbo].[DanhMucKhoaHoc] ([Id], [TenDanhMuc], [MoTa], [TrangThai], [NgayTao], [NgayCapNhat]) VALUES (2, N'Lập trình Mobile', N'Phát triển ứng dụng di động iOS/Android', 1, CAST(N'2025-11-30T14:41:39.937' AS DateTime), CAST(N'2025-11-30T14:41:39.937' AS DateTime))
INSERT [dbo].[DanhMucKhoaHoc] ([Id], [TenDanhMuc], [MoTa], [TrangThai], [NgayTao], [NgayCapNhat]) VALUES (3, N'Data Science', N'Khoa học dữ liệu và phân tích', 1, CAST(N'2025-11-30T14:41:39.937' AS DateTime), CAST(N'2025-11-30T14:41:39.937' AS DateTime))
SET IDENTITY_INSERT [dbo].[DanhMucKhoaHoc] OFF
GO
SET IDENTITY_INSERT [dbo].[DonHang] ON 

INSERT [dbo].[DonHang] ([Id], [IdNguoiDung], [IdVoucher], [TongTienGoc], [TienGiam], [TongTienThanhToan], [PhuongThucThanhToan], [TrangThaiThanhToan], [NgayThanhToan], [GhiChu], [TongTien], [TrangThaiDonHang]) VALUES (1, 4, NULL, CAST(898000.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), CAST(898000.00 AS Decimal(18, 2)), N'Chuyển khoản', N'Thành công', CAST(N'2025-11-25T11:18:50.703' AS DateTime), NULL, CAST(898000.00 AS Decimal(18, 2)), N'Đã thanh toán')
INSERT [dbo].[DonHang] ([Id], [IdNguoiDung], [IdVoucher], [TongTienGoc], [TienGiam], [TongTienThanhToan], [PhuongThucThanhToan], [TrangThaiThanhToan], [NgayThanhToan], [GhiChu], [TongTien], [TrangThaiDonHang]) VALUES (2, 5, 1, CAST(599000.00 AS Decimal(18, 2)), CAST(59900.00 AS Decimal(18, 2)), CAST(539100.00 AS Decimal(18, 2)), N'VNPay', N'Thành công', CAST(N'2025-11-27T11:18:50.780' AS DateTime), NULL, CAST(599000.00 AS Decimal(18, 2)), N'Đã thanh toán')
INSERT [dbo].[DonHang] ([Id], [IdNguoiDung], [IdVoucher], [TongTienGoc], [TienGiam], [TongTienThanhToan], [PhuongThucThanhToan], [TrangThaiThanhToan], [NgayThanhToan], [GhiChu], [TongTien], [TrangThaiDonHang]) VALUES (3, 6, NULL, CAST(699000.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), CAST(699000.00 AS Decimal(18, 2)), NULL, N'Chưa thanh toán', NULL, NULL, CAST(699000.00 AS Decimal(18, 2)), N'Chờ thanh toán')
SET IDENTITY_INSERT [dbo].[DonHang] OFF
GO
SET IDENTITY_INSERT [dbo].[GioHang] ON 

INSERT [dbo].[GioHang] ([Id], [IdNguoiDung], [TongTienGoc], [PhanTramGiam], [TienGiamVoucher], [TongTienThanhToan], [SoLuongKhoaHoc], [NgayTao], [NgayCapNhat]) VALUES (1, 4, CAST(6286000.00 AS Decimal(18, 2)), NULL, NULL, CAST(6286000.00 AS Decimal(18, 2)), 14, CAST(N'2025-11-30T11:18:50.577' AS DateTime), CAST(N'2025-11-30T12:01:44.817' AS DateTime))
INSERT [dbo].[GioHang] ([Id], [IdNguoiDung], [TongTienGoc], [PhanTramGiam], [TienGiamVoucher], [TongTienThanhToan], [SoLuongKhoaHoc], [NgayTao], [NgayCapNhat]) VALUES (2, 5, CAST(4193000.00 AS Decimal(18, 2)), NULL, NULL, CAST(4193000.00 AS Decimal(18, 2)), 7, CAST(N'2025-11-30T11:18:50.677' AS DateTime), CAST(N'2025-11-30T12:01:44.820' AS DateTime))
SET IDENTITY_INSERT [dbo].[GioHang] OFF
GO
SET IDENTITY_INSERT [dbo].[KhoaHoc] ON 

SET IDENTITY_INSERT [dbo].[KhoaHoc] OFF
GO
SET IDENTITY_INSERT [dbo].[KiemDuyetKhoaHoc] ON 

INSERT [dbo].[KiemDuyetKhoaHoc] ([Id], [IdKhoaHoc], [PhienBan], [TrangThaiKiemDuyet], [IdNguoiGui], [IdNguoiKiemDuyet], [LyDoTuChoi], [NgayGui], [NgayKiemDuyet], [NoiDungThayDoi], [GhiChu]) VALUES (20, 37, 1, N'ChoKiemDuyet', 7, NULL, NULL, CAST(N'2025-11-30T16:31:36.137' AS DateTime), NULL, N'Khóa học mới được tạo', NULL)
INSERT [dbo].[KiemDuyetKhoaHoc] ([Id], [IdKhoaHoc], [PhienBan], [TrangThaiKiemDuyet], [IdNguoiGui], [IdNguoiKiemDuyet], [LyDoTuChoi], [NgayGui], [NgayKiemDuyet], [NoiDungThayDoi], [GhiChu]) VALUES (21, 37, 2, N'DaDuyet', 7, 1, NULL, CAST(N'2025-11-30T16:36:57.597' AS DateTime), CAST(N'2025-11-30T18:47:49.063' AS DateTime), N'Yêu cầu hiển thị lại khóa học', NULL)
INSERT [dbo].[KiemDuyetKhoaHoc] ([Id], [IdKhoaHoc], [PhienBan], [TrangThaiKiemDuyet], [IdNguoiGui], [IdNguoiKiemDuyet], [LyDoTuChoi], [NgayGui], [NgayKiemDuyet], [NoiDungThayDoi], [GhiChu]) VALUES (22, 2, 2, N'DaDuyet', 7, 1, NULL, CAST(N'2025-11-30T17:21:29.297' AS DateTime), CAST(N'2025-11-30T19:06:33.103' AS DateTime), N'Khóa học được chỉnh sửa', NULL)
SET IDENTITY_INSERT [dbo].[KiemDuyetKhoaHoc] OFF
GO
SET IDENTITY_INSERT [dbo].[NguoiDung] ON 

INSERT [dbo].[NguoiDung] ([Id], [HoTen], [Email], [MatKhau], [SoDienThoai], [AnhDaiDien], [TieuSu], [TrangThai], [NgayTao], [NgayCapNhat], [LanDangNhapCuoi], [MoTaNgan], [ChuyenMon]) VALUES (1, N'Administrator', N'admin@gmail.com', N'$2a$11$AdBQ69YNz2ZGxJeD5FYyAuI6JzFTfNP0YJ1ALxeFNPFnn0TPftkFG', NULL, NULL, NULL, 1, CAST(N'2025-11-30T01:15:16.943' AS DateTime), CAST(N'2025-11-30T01:15:17.043' AS DateTime), NULL, NULL, NULL)
INSERT [dbo].[NguoiDung] ([Id], [HoTen], [Email], [MatKhau], [SoDienThoai], [AnhDaiDien], [TieuSu], [TrangThai], [NgayTao], [NgayCapNhat], [LanDangNhapCuoi], [MoTaNgan], [ChuyenMon]) VALUES (2, N'nguyen hoang phuc', N'hoangphuc20042812@gmail.com', N'$2a$11$mTjX3QrLbgaDx.mAJ69d/.9bNA04OnzogDaFeyBqbY0ohr3Y20s4.', N'12397823749', NULL, NULL, 0, CAST(N'2025-11-30T16:11:26.993' AS DateTime), CAST(N'2025-11-30T16:11:26.993' AS DateTime), NULL, NULL, NULL)
INSERT [dbo].[NguoiDung] ([Id], [HoTen], [Email], [MatKhau], [SoDienThoai], [AnhDaiDien], [TieuSu], [TrangThai], [NgayTao], [NgayCapNhat], [LanDangNhapCuoi], [MoTaNgan], [ChuyenMon]) VALUES (3, N'Trần Thị Kiểm Duyệt', N'kiemduyet@gmail.com', N'$2a$11$i2suJ7PNNEhnsd0lJ8kv1urxWrIVWAe4AGAPf1KuYa8TmUb11TgBa', NULL, NULL, NULL, 1, CAST(N'2025-11-30T10:56:07.730' AS DateTime), CAST(N'2025-11-30T10:56:07.730' AS DateTime), NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[NguoiDung] OFF
GO
SET IDENTITY_INSERT [dbo].[NguoiDungVaiTro] ON 

INSERT [dbo].[NguoiDungVaiTro] ([Id], [IdNguoiDung], [IdVaiTro]) VALUES (1, 1, 1)
INSERT [dbo].[NguoiDungVaiTro] ([Id], [IdNguoiDung], [IdVaiTro]) VALUES (11, 2, 2)
INSERT [dbo].[NguoiDungVaiTro] ([Id], [IdNguoiDung], [IdVaiTro]) VALUES (2, 2, 3)
SET IDENTITY_INSERT [dbo].[NguoiDungVaiTro] OFF
GO
SET IDENTITY_INSERT [dbo].[RefreshToken] ON 

INSERT [dbo].[RefreshToken] ([Id], [IdNguoiDung], [Token], [NgayHetHan], [NgayTao], [NgayThuHoi]) VALUES (2, 1, N'um8rgXgASQ4vVFcuaI/zhzaGO7BCTr8L3YNnQdpII1U=', CAST(N'2025-12-07T16:12:03.097' AS DateTime), CAST(N'2025-11-30T16:12:03.097' AS DateTime), NULL)
INSERT [dbo].[RefreshToken] ([Id], [IdNguoiDung], [Token], [NgayHetHan], [NgayTao], [NgayThuHoi]) VALUES (5, 2, N'iGhXe0xMZRx5nbF4QZWyh7Em67OGoa2WtPwqDSDLcaM=', CAST(N'2025-12-07T18:37:18.677' AS DateTime), CAST(N'2025-11-30T18:37:18.677' AS DateTime), NULL)
INSERT [dbo].[RefreshToken] ([Id], [IdNguoiDung], [Token], [NgayHetHan], [NgayTao], [NgayThuHoi]) VALUES (6, 2, N'wcGaAJK7vq5XE1ecYFO1FPJyCCaq8ERSEM9sN5rBwcQ=', CAST(N'2025-12-07T19:18:54.963' AS DateTime), CAST(N'2025-11-30T19:18:54.963' AS DateTime), CAST(N'2025-11-30T19:25:45.130' AS DateTime))
SET IDENTITY_INSERT [dbo].[RefreshToken] OFF
GO
SET IDENTITY_INSERT [dbo].[VaiTro] ON 

INSERT [dbo].[VaiTro] ([Id], [TenVaiTro], [MoTa], [NgayTao], [NgayCapNhat], [TrangThai]) VALUES (1, N'ADMIN', NULL, CAST(N'2025-11-30T00:05:04.037' AS DateTime), CAST(N'2025-11-30T00:05:04.037' AS DateTime), 1)
INSERT [dbo].[VaiTro] ([Id], [TenVaiTro], [MoTa], [NgayTao], [NgayCapNhat], [TrangThai]) VALUES (2, N'GIANGVIEN', NULL, CAST(N'2025-11-30T00:05:04.037' AS DateTime), CAST(N'2025-11-30T00:05:04.037' AS DateTime), 1)
INSERT [dbo].[VaiTro] ([Id], [TenVaiTro], [MoTa], [NgayTao], [NgayCapNhat], [TrangThai]) VALUES (3, N'HOCVIEN', NULL, CAST(N'2025-11-30T00:05:04.037' AS DateTime), CAST(N'2025-11-30T00:05:04.037' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[VaiTro] OFF
GO
SET IDENTITY_INSERT [dbo].[Voucher] ON 

INSERT [dbo].[Voucher] ([Id], [MaCode], [TiLeGiam], [NgayBatDau], [NgayHetHan], [TrangThai], [NgayTao], [NgayCapNhat]) VALUES (1, N'WELCOME10', CAST(10.00 AS Decimal(18, 2)), CAST(N'2025-10-31T11:18:50.537' AS DateTime), CAST(N'2025-12-30T11:18:50.537' AS DateTime), 1, CAST(N'2025-11-30T11:18:50.543' AS DateTime), CAST(N'2025-11-30T11:18:50.543' AS DateTime))
INSERT [dbo].[Voucher] ([Id], [MaCode], [TiLeGiam], [NgayBatDau], [NgayHetHan], [TrangThai], [NgayTao], [NgayCapNhat]) VALUES (2, N'SUMMER2024', CAST(20.00 AS Decimal(18, 2)), CAST(N'2025-11-20T11:18:50.557' AS DateTime), CAST(N'2025-12-20T11:18:50.557' AS DateTime), 1, CAST(N'2025-11-30T11:18:50.557' AS DateTime), CAST(N'2025-11-30T11:18:50.557' AS DateTime))
INSERT [dbo].[Voucher] ([Id], [MaCode], [TiLeGiam], [NgayBatDau], [NgayHetHan], [TrangThai], [NgayTao], [NgayCapNhat]) VALUES (3, N'STUDENT50', CAST(50.00 AS Decimal(18, 2)), CAST(N'2025-11-25T11:18:50.557' AS DateTime), CAST(N'2025-12-05T11:18:50.557' AS DateTime), 1, CAST(N'2025-11-30T11:18:50.557' AS DateTime), CAST(N'2025-11-30T11:18:50.557' AS DateTime))
SET IDENTITY_INSERT [dbo].[Voucher] OFF
GO
/****** Object:  Index [UQ_GioHang_KhoaHoc]    Script Date: 12/1/2025 2:36:40 AM ******/
ALTER TABLE [dbo].[ChiTietGioHang] ADD  CONSTRAINT [UQ_GioHang_KhoaHoc] UNIQUE NONCLUSTERED 
(
	[IdGioHang] ASC,
	[IdKhoaHoc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_HocVien_KhoaHoc]    Script Date: 12/1/2025 2:36:40 AM ******/
ALTER TABLE [dbo].[DangKyKhoaHoc] ADD  CONSTRAINT [UQ_HocVien_KhoaHoc] UNIQUE NONCLUSTERED 
(
	[IdHocVien] ASC,
	[IdKhoaHoc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_HocVien_DanhGia_KhoaHoc]    Script Date: 12/1/2025 2:36:40 AM ******/
ALTER TABLE [dbo].[DanhGiaKhoaHoc] ADD  CONSTRAINT [UQ_HocVien_DanhGia_KhoaHoc] UNIQUE NONCLUSTERED 
(
	[IdHocVien] ASC,
	[IdKhoaHoc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_GioHang_HocVien]    Script Date: 12/1/2025 2:36:40 AM ******/
ALTER TABLE [dbo].[GioHang] ADD  CONSTRAINT [UQ_GioHang_HocVien] UNIQUE NONCLUSTERED 
(
	[IdNguoiDung] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_KhoaHocKhuyenMai]    Script Date: 12/1/2025 2:36:40 AM ******/
ALTER TABLE [dbo].[KhoaHocKhuyenMai] ADD  CONSTRAINT [UQ_KhoaHocKhuyenMai] UNIQUE NONCLUSTERED 
(
	[IdKhoaHoc] ASC,
	[IdKhuyenMai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_KhoaHoc_PhienBan]    Script Date: 12/1/2025 2:36:40 AM ******/
ALTER TABLE [dbo].[KhoaHocPhienBan] ADD  CONSTRAINT [UQ_KhoaHoc_PhienBan] UNIQUE NONCLUSTERED 
(
	[IdKhoaHoc] ASC,
	[PhienBan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__NguoiDun__A9D105343A865C2B]    Script Date: 12/1/2025 2:36:40 AM ******/
ALTER TABLE [dbo].[NguoiDung] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_NguoiDung_VaiTro]    Script Date: 12/1/2025 2:36:40 AM ******/
ALTER TABLE [dbo].[NguoiDungVaiTro] ADD  CONSTRAINT [UQ_NguoiDung_VaiTro] UNIQUE NONCLUSTERED 
(
	[IdNguoiDung] ASC,
	[IdVaiTro] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_DangKy_KhoaHoc]    Script Date: 12/1/2025 2:36:40 AM ******/
ALTER TABLE [dbo].[TienDoHocTap] ADD  CONSTRAINT [UQ_DangKy_KhoaHoc] UNIQUE NONCLUSTERED 
(
	[IdDangKyKhoaHoc] ASC,
	[IdKhoaHoc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_TienDoHocTapChiTiet]    Script Date: 12/1/2025 2:36:40 AM ******/
ALTER TABLE [dbo].[TienDoHocTapChiTiet] ADD  CONSTRAINT [UQ_TienDoHocTapChiTiet] UNIQUE NONCLUSTERED 
(
	[IdTienDoHocTap] ASC,
	[IdBaiGiang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__VaiTro__1DA558145F3ADA55]    Script Date: 12/1/2025 2:36:40 AM ******/
ALTER TABLE [dbo].[VaiTro] ADD UNIQUE NONCLUSTERED 
(
	[TenVaiTro] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Voucher__152C7C5C0054C482]    Script Date: 12/1/2025 2:36:40 AM ******/
ALTER TABLE [dbo].[Voucher] ADD UNIQUE NONCLUSTERED 
(
	[MaCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[BaiGiang] ADD  DEFAULT ((0)) FOR [MienPhiXem]
GO
ALTER TABLE [dbo].[BaiGiang] ADD  DEFAULT ((1)) FOR [TrangThai]
GO
ALTER TABLE [dbo].[BaiGiang] ADD  DEFAULT (getdate()) FOR [NgayTao]
GO
ALTER TABLE [dbo].[BaiGiang] ADD  DEFAULT (getdate()) FOR [NgayCapNhat]
GO
ALTER TABLE [dbo].[ChiaSeLuanNhuan] ADD  DEFAULT ((70)) FOR [TyLeChiaGiangVien]
GO
ALTER TABLE [dbo].[ChiaSeLuanNhuan] ADD  DEFAULT ((0)) FOR [TrangThaiThanhToan]
GO
ALTER TABLE [dbo].[Chuong] ADD  DEFAULT ((1)) FOR [TrangThai]
GO
ALTER TABLE [dbo].[Chuong] ADD  DEFAULT (getdate()) FOR [NgayTao]
GO
ALTER TABLE [dbo].[Chuong] ADD  DEFAULT (getdate()) FOR [NgayCapNhat]
GO
ALTER TABLE [dbo].[DangKyKhoaHoc] ADD  DEFAULT (getdate()) FOR [NgayDangKy]
GO
ALTER TABLE [dbo].[DanhGiaKhoaHoc] ADD  DEFAULT (getdate()) FOR [NgayDanhGia]
GO
ALTER TABLE [dbo].[DanhGiaKhoaHoc] ADD  DEFAULT ((1)) FOR [TrangThai]
GO
ALTER TABLE [dbo].[DanhMucKhoaHoc] ADD  DEFAULT ((1)) FOR [TrangThai]
GO
ALTER TABLE [dbo].[DanhMucKhoaHoc] ADD  DEFAULT (getdate()) FOR [NgayTao]
GO
ALTER TABLE [dbo].[DanhMucKhoaHoc] ADD  DEFAULT (getdate()) FOR [NgayCapNhat]
GO
ALTER TABLE [dbo].[DonHang] ADD  DEFAULT ((0)) FOR [TienGiam]
GO
ALTER TABLE [dbo].[DonHang] ADD  DEFAULT (getdate()) FOR [NgayThanhToan]
GO
ALTER TABLE [dbo].[DonHang] ADD  DEFAULT ((0)) FOR [TongTien]
GO
ALTER TABLE [dbo].[DonHang] ADD  DEFAULT (N'Chờ thanh toán') FOR [TrangThaiDonHang]
GO
ALTER TABLE [dbo].[GioHang] ADD  DEFAULT ((0)) FOR [TongTienGoc]
GO
ALTER TABLE [dbo].[GioHang] ADD  DEFAULT ((0)) FOR [PhanTramGiam]
GO
ALTER TABLE [dbo].[GioHang] ADD  DEFAULT ((0)) FOR [TienGiamVoucher]
GO
ALTER TABLE [dbo].[GioHang] ADD  DEFAULT ((0)) FOR [TongTienThanhToan]
GO
ALTER TABLE [dbo].[GioHang] ADD  DEFAULT ((0)) FOR [SoLuongKhoaHoc]
GO
ALTER TABLE [dbo].[GioHang] ADD  DEFAULT (getdate()) FOR [NgayTao]
GO
ALTER TABLE [dbo].[GioHang] ADD  DEFAULT (getdate()) FOR [NgayCapNhat]
GO
ALTER TABLE [dbo].[KhoaHoc] ADD  DEFAULT ((1)) FOR [TrangThai]
GO
ALTER TABLE [dbo].[KhoaHoc] ADD  DEFAULT ((0)) FOR [SoLuongHocVien]
GO
ALTER TABLE [dbo].[KhoaHoc] ADD  DEFAULT ((0)) FOR [DiemDanhGia]
GO
ALTER TABLE [dbo].[KhoaHoc] ADD  DEFAULT ((0)) FOR [SoLuongDanhGia]
GO
ALTER TABLE [dbo].[KhoaHoc] ADD  DEFAULT (getdate()) FOR [NgayTao]
GO
ALTER TABLE [dbo].[KhoaHoc] ADD  DEFAULT (getdate()) FOR [NgayCapNhat]
GO
ALTER TABLE [dbo].[KhoaHoc] ADD  DEFAULT ((1)) FOR [PhienBanHienTai]
GO
ALTER TABLE [dbo].[KhoaHoc] ADD  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[KhoaHocKhuyenMai] ADD  DEFAULT (getdate()) FOR [NgayTao]
GO
ALTER TABLE [dbo].[KhoaHocPhienBan] ADD  DEFAULT (getdate()) FOR [NgayTao]
GO
ALTER TABLE [dbo].[KhuyenMai] ADD  DEFAULT (getdate()) FOR [NgayTao]
GO
ALTER TABLE [dbo].[KhuyenMai] ADD  DEFAULT (getdate()) FOR [NgayCapNhat]
GO
ALTER TABLE [dbo].[KiemDuyetKhoaHoc] ADD  DEFAULT ((1)) FOR [PhienBan]
GO
ALTER TABLE [dbo].[KiemDuyetKhoaHoc] ADD  DEFAULT (getdate()) FOR [NgayGui]
GO
ALTER TABLE [dbo].[NguoiDung] ADD  DEFAULT ((1)) FOR [TrangThai]
GO
ALTER TABLE [dbo].[NguoiDung] ADD  DEFAULT (getdate()) FOR [NgayTao]
GO
ALTER TABLE [dbo].[NguoiDung] ADD  DEFAULT (getdate()) FOR [NgayCapNhat]
GO
ALTER TABLE [dbo].[TaiLieuBaiGiang] ADD  DEFAULT (getdate()) FOR [NgayTao]
GO
ALTER TABLE [dbo].[TaiLieuKhoaHoc] ADD  DEFAULT ((0)) FOR [ThuTu]
GO
ALTER TABLE [dbo].[TaiLieuKhoaHoc] ADD  DEFAULT (getdate()) FOR [NgayTao]
GO
ALTER TABLE [dbo].[TienDoHocTap] ADD  DEFAULT ((0)) FOR [PhanTramHoanThanh]
GO
ALTER TABLE [dbo].[TienDoHocTap] ADD  DEFAULT ((0)) FOR [DaHoanThanh]
GO
ALTER TABLE [dbo].[TienDoHocTap] ADD  DEFAULT ((0)) FOR [IdHocVien]
GO
ALTER TABLE [dbo].[TienDoHocTap] ADD  DEFAULT ((0)) FOR [TongSoBaiHoc]
GO
ALTER TABLE [dbo].[VaiTro] ADD  DEFAULT (getdate()) FOR [NgayTao]
GO
ALTER TABLE [dbo].[VaiTro] ADD  DEFAULT (getdate()) FOR [NgayCapNhat]
GO
ALTER TABLE [dbo].[Voucher] ADD  DEFAULT ((1)) FOR [TrangThai]
GO
ALTER TABLE [dbo].[Voucher] ADD  DEFAULT (getdate()) FOR [NgayTao]
GO
ALTER TABLE [dbo].[Voucher] ADD  DEFAULT (getdate()) FOR [NgayCapNhat]
GO
ALTER TABLE [dbo].[BaiGiang]  WITH CHECK ADD FOREIGN KEY([IdChuong])
REFERENCES [dbo].[Chuong] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ChiaSeLuanNhuan]  WITH CHECK ADD FOREIGN KEY([IdDonHang])
REFERENCES [dbo].[DonHang] ([Id])
GO
ALTER TABLE [dbo].[ChiaSeLuanNhuan]  WITH CHECK ADD FOREIGN KEY([IdGiangVien])
REFERENCES [dbo].[NguoiDung] ([Id])
GO
ALTER TABLE [dbo].[ChiaSeLuanNhuan]  WITH CHECK ADD FOREIGN KEY([IdKhoaHoc])
REFERENCES [dbo].[KhoaHoc] ([Id])
GO
ALTER TABLE [dbo].[ChiTietChiaSeDoanhThu]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietChiaSe_DonHang] FOREIGN KEY([IdDonHang])
REFERENCES [dbo].[DonHang] ([Id])
GO
ALTER TABLE [dbo].[ChiTietChiaSeDoanhThu] CHECK CONSTRAINT [FK_ChiTietChiaSe_DonHang]
GO
ALTER TABLE [dbo].[ChiTietChiaSeDoanhThu]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietChiaSe_GiangVien] FOREIGN KEY([IdGiangVien])
REFERENCES [dbo].[NguoiDung] ([Id])
GO
ALTER TABLE [dbo].[ChiTietChiaSeDoanhThu] CHECK CONSTRAINT [FK_ChiTietChiaSe_GiangVien]
GO
ALTER TABLE [dbo].[ChiTietChiaSeDoanhThu]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietChiaSe_KhoaHoc] FOREIGN KEY([IdKhoaHoc])
REFERENCES [dbo].[KhoaHoc] ([Id])
GO
ALTER TABLE [dbo].[ChiTietChiaSeDoanhThu] CHECK CONSTRAINT [FK_ChiTietChiaSe_KhoaHoc]
GO
ALTER TABLE [dbo].[ChiTietDonHang]  WITH CHECK ADD FOREIGN KEY([IdDonHang])
REFERENCES [dbo].[DonHang] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ChiTietDonHang]  WITH CHECK ADD FOREIGN KEY([IdKhoaHoc])
REFERENCES [dbo].[KhoaHoc] ([Id])
GO
ALTER TABLE [dbo].[ChiTietGioHang]  WITH CHECK ADD FOREIGN KEY([IdGioHang])
REFERENCES [dbo].[GioHang] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ChiTietGioHang]  WITH CHECK ADD FOREIGN KEY([IdKhoaHoc])
REFERENCES [dbo].[KhoaHoc] ([Id])
GO
ALTER TABLE [dbo].[Chuong]  WITH CHECK ADD FOREIGN KEY([IdKhoaHoc])
REFERENCES [dbo].[KhoaHoc] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DangKyKhoaHoc]  WITH CHECK ADD FOREIGN KEY([IdDonHang])
REFERENCES [dbo].[DonHang] ([Id])
GO
ALTER TABLE [dbo].[DangKyKhoaHoc]  WITH CHECK ADD FOREIGN KEY([IdHocVien])
REFERENCES [dbo].[NguoiDung] ([Id])
GO
ALTER TABLE [dbo].[DangKyKhoaHoc]  WITH CHECK ADD FOREIGN KEY([IdKhoaHoc])
REFERENCES [dbo].[KhoaHoc] ([Id])
GO
ALTER TABLE [dbo].[DanhGiaKhoaHoc]  WITH CHECK ADD FOREIGN KEY([IdHocVien])
REFERENCES [dbo].[NguoiDung] ([Id])
GO
ALTER TABLE [dbo].[DanhGiaKhoaHoc]  WITH CHECK ADD FOREIGN KEY([IdKhoaHoc])
REFERENCES [dbo].[KhoaHoc] ([Id])
GO
ALTER TABLE [dbo].[DonHang]  WITH CHECK ADD FOREIGN KEY([IdNguoiDung])
REFERENCES [dbo].[NguoiDung] ([Id])
GO
ALTER TABLE [dbo].[DonHang]  WITH CHECK ADD FOREIGN KEY([IdVoucher])
REFERENCES [dbo].[Voucher] ([Id])
GO
ALTER TABLE [dbo].[GioHang]  WITH CHECK ADD FOREIGN KEY([IdNguoiDung])
REFERENCES [dbo].[NguoiDung] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[KhoaHoc]  WITH CHECK ADD FOREIGN KEY([IdDanhMuc])
REFERENCES [dbo].[DanhMucKhoaHoc] ([Id])
GO
ALTER TABLE [dbo].[KhoaHoc]  WITH CHECK ADD FOREIGN KEY([IdGiangVien])
REFERENCES [dbo].[NguoiDung] ([Id])
GO
ALTER TABLE [dbo].[KhoaHocKhuyenMai]  WITH CHECK ADD  CONSTRAINT [FK_KhoaHocKhuyenMai_KhoaHoc] FOREIGN KEY([IdKhoaHoc])
REFERENCES [dbo].[KhoaHoc] ([Id])
GO
ALTER TABLE [dbo].[KhoaHocKhuyenMai] CHECK CONSTRAINT [FK_KhoaHocKhuyenMai_KhoaHoc]
GO
ALTER TABLE [dbo].[KhoaHocKhuyenMai]  WITH CHECK ADD  CONSTRAINT [FK_KhoaHocKhuyenMai_KhuyenMai] FOREIGN KEY([IdKhuyenMai])
REFERENCES [dbo].[KhuyenMai] ([Id])
GO
ALTER TABLE [dbo].[KhoaHocKhuyenMai] CHECK CONSTRAINT [FK_KhoaHocKhuyenMai_KhuyenMai]
GO
ALTER TABLE [dbo].[KhoaHocPhienBan]  WITH CHECK ADD  CONSTRAINT [FK_KhoaHocPhienBan_KhoaHoc] FOREIGN KEY([IdKhoaHoc])
REFERENCES [dbo].[KhoaHoc] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[KhoaHocPhienBan] CHECK CONSTRAINT [FK_KhoaHocPhienBan_KhoaHoc]
GO
ALTER TABLE [dbo].[KhuyenMai]  WITH CHECK ADD  CONSTRAINT [FK_KhuyenMai_NguoiDung] FOREIGN KEY([IdNguoiTao])
REFERENCES [dbo].[NguoiDung] ([Id])
GO
ALTER TABLE [dbo].[KhuyenMai] CHECK CONSTRAINT [FK_KhuyenMai_NguoiDung]
GO
ALTER TABLE [dbo].[KiemDuyetKhoaHoc]  WITH CHECK ADD  CONSTRAINT [FK_KiemDuyetKhoaHoc_KhoaHoc] FOREIGN KEY([IdKhoaHoc])
REFERENCES [dbo].[KhoaHoc] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[KiemDuyetKhoaHoc] CHECK CONSTRAINT [FK_KiemDuyetKhoaHoc_KhoaHoc]
GO
ALTER TABLE [dbo].[KiemDuyetKhoaHoc]  WITH CHECK ADD  CONSTRAINT [FK_KiemDuyetKhoaHoc_NguoiGui] FOREIGN KEY([IdNguoiGui])
REFERENCES [dbo].[NguoiDung] ([Id])
GO
ALTER TABLE [dbo].[KiemDuyetKhoaHoc] CHECK CONSTRAINT [FK_KiemDuyetKhoaHoc_NguoiGui]
GO
ALTER TABLE [dbo].[KiemDuyetKhoaHoc]  WITH CHECK ADD  CONSTRAINT [FK_KiemDuyetKhoaHoc_NguoiKiemDuyet] FOREIGN KEY([IdNguoiKiemDuyet])
REFERENCES [dbo].[NguoiDung] ([Id])
GO
ALTER TABLE [dbo].[KiemDuyetKhoaHoc] CHECK CONSTRAINT [FK_KiemDuyetKhoaHoc_NguoiKiemDuyet]
GO
ALTER TABLE [dbo].[LichSuChuyenTien]  WITH CHECK ADD  CONSTRAINT [FK_LichSuChuyenTien_ChiTietChiaSe] FOREIGN KEY([IdChiTietChiaSe])
REFERENCES [dbo].[ChiTietChiaSeDoanhThu] ([Id])
GO
ALTER TABLE [dbo].[LichSuChuyenTien] CHECK CONSTRAINT [FK_LichSuChuyenTien_ChiTietChiaSe]
GO
ALTER TABLE [dbo].[LichSuChuyenTien]  WITH CHECK ADD  CONSTRAINT [FK_LichSuChuyenTien_GiangVien] FOREIGN KEY([IdGiangVien])
REFERENCES [dbo].[NguoiDung] ([Id])
GO
ALTER TABLE [dbo].[LichSuChuyenTien] CHECK CONSTRAINT [FK_LichSuChuyenTien_GiangVien]
GO
ALTER TABLE [dbo].[NguoiDungVaiTro]  WITH CHECK ADD FOREIGN KEY([IdNguoiDung])
REFERENCES [dbo].[NguoiDung] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[NguoiDungVaiTro]  WITH CHECK ADD FOREIGN KEY([IdVaiTro])
REFERENCES [dbo].[VaiTro] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[RefreshToken]  WITH CHECK ADD FOREIGN KEY([IdNguoiDung])
REFERENCES [dbo].[NguoiDung] ([Id])
GO
ALTER TABLE [dbo].[TaiLieuBaiGiang]  WITH CHECK ADD  CONSTRAINT [FK_TaiLieuBaiGiang_BaiGiang] FOREIGN KEY([IdBaiGiang])
REFERENCES [dbo].[BaiGiang] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TaiLieuBaiGiang] CHECK CONSTRAINT [FK_TaiLieuBaiGiang_BaiGiang]
GO
ALTER TABLE [dbo].[TaiLieuKhoaHoc]  WITH CHECK ADD FOREIGN KEY([IdKhoaHoc])
REFERENCES [dbo].[KhoaHoc] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TienDoHocTap]  WITH CHECK ADD FOREIGN KEY([IdDangKyKhoaHoc])
REFERENCES [dbo].[DangKyKhoaHoc] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TienDoHocTap]  WITH CHECK ADD FOREIGN KEY([IdKhoaHoc])
REFERENCES [dbo].[KhoaHoc] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TienDoHocTap]  WITH CHECK ADD  CONSTRAINT [FK_TienDoHocTap_HocVien] FOREIGN KEY([IdHocVien])
REFERENCES [dbo].[NguoiDung] ([Id])
GO
ALTER TABLE [dbo].[TienDoHocTap] CHECK CONSTRAINT [FK_TienDoHocTap_HocVien]
GO
ALTER TABLE [dbo].[TienDoHocTap]  WITH CHECK ADD  CONSTRAINT [FK_TienDoHocTap_KhoaHoc] FOREIGN KEY([IdKhoaHoc])
REFERENCES [dbo].[KhoaHoc] ([Id])
GO
ALTER TABLE [dbo].[TienDoHocTap] CHECK CONSTRAINT [FK_TienDoHocTap_KhoaHoc]
GO
ALTER TABLE [dbo].[TienDoHocTapChiTiet]  WITH CHECK ADD  CONSTRAINT [FK_TienDoChiTiet_BaiGiang] FOREIGN KEY([IdBaiGiang])
REFERENCES [dbo].[BaiGiang] ([Id])
GO
ALTER TABLE [dbo].[TienDoHocTapChiTiet] CHECK CONSTRAINT [FK_TienDoChiTiet_BaiGiang]
GO
ALTER TABLE [dbo].[TienDoHocTapChiTiet]  WITH CHECK ADD  CONSTRAINT [FK_TienDoChiTiet_TienDo] FOREIGN KEY([IdTienDoHocTap])
REFERENCES [dbo].[TienDoHocTap] ([Id])
GO
ALTER TABLE [dbo].[TienDoHocTapChiTiet] CHECK CONSTRAINT [FK_TienDoChiTiet_TienDo]
GO
ALTER TABLE [dbo].[DanhGiaKhoaHoc]  WITH CHECK ADD CHECK  (([DiemDanhGia]>=(1) AND [DiemDanhGia]<=(5)))
GO
ALTER TABLE [dbo].[KiemDuyetKhoaHoc]  WITH CHECK ADD  CONSTRAINT [CHK_TrangThaiKiemDuyet] CHECK  (([TrangThaiKiemDuyet]='TuChoi' OR [TrangThaiKiemDuyet]='DaDuyet' OR [TrangThaiKiemDuyet]='ChoKiemDuyet' OR [TrangThaiKiemDuyet]='BiAn'))
GO
ALTER TABLE [dbo].[KiemDuyetKhoaHoc] CHECK CONSTRAINT [CHK_TrangThaiKiemDuyet]
GO
